// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media {
    border: thin;
    padding: 1em;
    border-radius: 1em;
    background: #eee;
}
.media-body {
    position: relative;
    .time_ago {
    position: absolute;
    top: 0;
    right: 0;
}
a.btn.btn-success.btn-xs {
    position: absolute;
    bottom: 0;
    right: 0;
}

}
.media:hover {
    cursor: pointer;
    background-color: #fff;
}